<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap" rel="stylesheet">        
        <style>
            @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
        </style>
    </head>
    <body style="font-family:'IBM Plex Mono', monospace; background-color:rgb(17, 17, 17); color:rgb(110, 194, 77);">
        <p>One Liner Takeaways by Engramar Bollas</p>
        <% for (var i = 0; i < allBooks.length; i++) { %>
            <div style="text-align:left class="timeline-time">
                <span><%= allBooks[i].date %> | </span>                
                <span><%= allBooks[i].title %> | </span>
                <span><%= allBooks[i].author %> | </span>
                <span><%= allBooks[i].keyTakeaways %></span>
            </div>
        <br/>
        <% } %>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>